VITE_SUPABASE_URL=https://qfftasbksaiywsmjymus.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmZnRhc2Jrc2FpeXdzbWp5bXVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5NTY4NjIsImV4cCI6MjA5MTUzMjg2Mn0.FxVSrnBHIdulWF1D2JF0xEVTcZF6kdSsIBn6MZDBa3k
VITE_APP_URL=https://solixproject.vercel.app
